.form {
  padding: $gap 0;

  background-color: $color-primary;

  @include lg-min {
    padding: ($gap * 1.5) 0;
  }
  &__container {
    @extend %container;
  }
  &-content {
    display: grid;

    gap: $gap;
    @include md-min {
      grid-template-columns: repeat(3, 1fr);
    }
    @include xl-min {
      font-size: 1.125rem;
    }
    @include xl-lg {
      font-size: 1rem;
    }
    @include md {
      font-size: 1.125rem;
    }
    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm {
      grid-template-columns: 1fr;
    }
    &__block {
      &:nth-of-type(1) {
        @include md-sm {
          grid-column: 1 / span 2;
          // grid-column-start: 1;
          // grid-column-end: span 2;
        }
      }
    }
    &__input {
      width: 100%;
      height: 60px;
      padding: 0 30px;

      transition: background-color 0.5s, border-color 0.5s;
      letter-spacing: 0.1em;

      border-color: rgba($color-light, 0.05);
      background-color: rgba($color-light, 0.05);
      &:hover,
      &:focus {
        color: rgba($color-light, 0.99);
        border-bottom: 2px solid $color-light;
        outline: none;
        background-color: rgba($color-light, 0.15);
      }
    }
    .btn {
      min-width: 100%;

      transition: background-color 0.5s;
      &:hover,
      &:focus {
        border: 2px solid $color-light;
        background-color: $color-accent;
      }
      &--primary {
        color: $color-light;
        border-color: rgba($color-light, 0);
        background-color: rgba($color-light, 0.05);
      }
    }
  }
}
