.about {
  letter-spacing: 0.055em;

  background-color: $color-gray-light;

  @include lg-min {
    padding: 100px 0;
  }
  @include lg-md {
    padding: 80px 0;
  }
  @include md {
    padding: 60px 0;
  }
  &__container {
    display: grid;

    max-width: $ul;
    margin: auto;
    padding: 0 $gap;

    @include lg-min {
      gap: 100px;
      grid-template-columns: 1fr 271px;
    }
    @include lg-md {
      gap: 40px;
      grid-template-columns: 1fr 271px;
    }
    @include md-sm {
      gap: 20px;
      grid-template-columns: 1fr 236px;
    }
    @include sm {
      gap: 20px;
      grid-template-columns: 1fr;
    }
  }
  &-content {
    &__title {
      margin: 0;

      letter-spacing: 0.1em;

      color: $color-primary;

      font-family: $font-header;
      line-height: 1.2em;

      @include lg-min {
        margin-bottom: 56px;

        font-size: 2.5rem;
      }
      @include lg-md {
        margin-bottom: 42px;

        font-size: 2rem;
      }
      @include md {
        margin-bottom: 36px;

        font-size: 1.5rem;
      }
      @include sm {
        text-align: center;
      }
    }
    &__txt {
      position: relative;

      color: $color-gray;

      font-family: $font-main;

      @include lg-min {
        font-size: 1.125rem;
      }
      & p:first-of-type {
        margin: -5px 0 18px;
      }
      & p:last-of-type {
        margin: 0;
      }
      & p:first-of-type::after {
        position: absolute;
        top: 0;
        right: -50px;

        width: 2px;
        height: 200px;

        content: "";

        background-color: rgba(99, 117, 136, 0.1);
      }
    }
  }
  &-image {
    display: grid;
    align-content: center;
    justify-content: center;
    & img {
      max-width: 100%;
      max-height: 480px;
    }
  }
}
