.about {
    padding: 100px 0;
    letter-spacing: 0.055em;
    background-color: $color-gray-light;
    &__container {
        display: grid;
        max-width: $ul;
        margin: auto;
        padding: 0 $gap;
        grid-template-areas: "txt img";
    }
    &-content {
        margin-right: 93px;
        grid-area: txt;
        &--title {
            margin: 0;
            color: $color-primary;
            font-family: $font-header;
            letter-spacing: 0.1em;
            line-height: 1.2em;
            @include lg-min {
                font-size: 2.5rem;
            }
            @include lg-md {
                font-size: 2rem;
            }
            @include md {
                font-size: 1.5rem;
            }
        }
        &--txt {
            margin-top: 50px;
            font-family: $font-main;
            color: $color-gray;
            font-size: 1.125rem;
            letter-spacing: 0.05em;
            line-height: 1.32em;
            @include md {
                font-size: 1rem;
            }
        }
    }
    &-image {
        background-color: red;
        display: grid;
        // align-items: center;
        justify-content: center;
        grid-area: img;
        & img {
            max-width: 100%;
            max-height: 487.08px;
        }
    }
}